@import base/_variables
@import blocks/_promo
@import blocks/_header
@import blocks/_buttons
@import blocks/_benefit
*
    font-family: 'MuseoModerno', sans-serif
.container
    max-width: 950px
    margin: 0 auto
